html {
    font-family: 'roboto';
}
body{
    margin: 0px auto;
    max-width: 500px;
    background-color: beige;
}
h1{
    margin: 0;
    color: red;
}
#form{
    border: 2px solid black;
}

.content{
    margin: auto;
    padding: 20px;
}


